{{template "header"}}
        <title>JRPDShang的博客</title>
    </head>
    <body>
    {{template "navbar" .}}
    <ul class="nav navbar-nav navbar-right">
        {{if .IsLogin}}
        <li class="nav-item"><a class="nav-link" href="/login?exit=true">退出</a> </li>
        {{else}}
        <li class="nav-item"><a class="nav-link" href="/login">管理员登录</a> </li>
        {{end}}
    </ul>
    </div>
    </div>
    </nav>
    <div class="container">
              <ul class="nav justify-content-center ">
                  <li class="nav-item">
                      <a class="nav-link disabled">分类列表</a>
                  </li>
                  {{range .Categories}}
                  <li class="nav-item">
                      <a class="nav-link active" href="/?cate={{.Title}}">{{.Title}}</a>
                  </li>
                  {{end}}
              </ul>
    </div>
    <div class="container">
        {{range .Topics}}
        <div class="page-header">
            <br>
            <h1>{{.Title}}</h1>
            <h6 class="text-muted">文章发表于 {{.Created}}，共有 {{.Views}} 次浏览， {{.ReplyCount}} 个评论</h6>
            <p style="overflow: hidden">
                {{.Content}} ......
            </p>
            <a href="/topic/view/{{.Id}}" class="btn btn-outline-primary">浏览</a>
            <hr>
        </div>
        {{end}}
    </div>
    </body>
</html>