{{template "header"}}
<link rel="shortcut icon" href="./../static/img/code.png">
<title></title>
</head>
<body>
{{template "navbar" .}}
<ul class="nav navbar-nav navbar-right">
    {{if .IsLogin}}
    <li class="nav-item"><a class="nav-link" href="/login?exit=true">退出</a> </li>
    {{else}}
    <li class="nav-item"><a class="nav-link" href="/login">管理员登录</a> </li>
    {{end}}
</ul>
</div>
</div>
</nav>
   <div class="container">
       {{with .User}}
       <h1>尊敬的{{.NickName}}你好，下面是您的账户信息</h1><br>
       <img src="/static/head/{{.NickName}}.jpg" class="rounded mx-auto"  width="200" height="200">
       <form action="/user" method="post" enctype="multipart/form-data">
           <div class="mb-auto">
               <label class="form-label" for="file">更改头像  </label>
               <input type="hidden" value="head" name="op">
               <input  type="file" class="form-control" id="file" name="head" style="width: 600px">
               <br><button type="submit" class="btn btn-primary">上传</button>
           </div>
       </form>
       <h4>用户名:  {{.NickName}}</h4>
       <h4>密 码:   {{.Password}}</h4>
       <h4>评论数:  {{.Replies}}</h4>
       <a href="/user?IsExit=true" class="btn btn-danger">退出登录</a>
       {{end}}
   </div>
</body>